[package]
name = "cw-tee-mtcs"
version = "0.1.0"
edition = "2021"

exclude = ["contract.wasm", "hash.txt"]

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[dependencies]
# external
getrandom = { version = "0.2.15", features = ["js"] }

hex = { version = "0.4.3", default-features = false }
k256 = { version = "0.13.2", default-features = false, features = ["ecdsa"] }
schemars = "0.8.15"
sha2 = "0.10.8"
serde_json = "1.0.117"
thiserror = { version = "1.0.49" }

# cosmwasm
cw20-base = { version = "2.0.0", features = ["library"] }
cw20 = "2.0.0"
cw2 = "2.0.0"
cosmwasm-schema = { version = "2.0.0", default-features = false }
cosmwasm-std = { version = "2.0.0", default-features = false , features = ["std"] }
cw-storage-plus = { version = "2.0.0", default-features = false }



# quartz
quartz-cw = { path = "../../../../cosmwasm/packages/quartz-cw" }

[dev-dependencies]
cw-multi-test = "2.0.0"
serde_json = "1.0.113"

mio = "0.8.9"
region = "3.0.2"