{
  "plugins": ["prettier-plugin-tailwindcss"],
  "quoteProps": "consistent",
  "singleQuote": true,
  "semi": false,
  "singleAttributePerLine": true,
  "tailwindFunctions": ["tw", "twJoin", "twMerge"],
  "tailwindPreserveWhitespace": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
